:root {
    --side-bar-bg-color: #fafafa;
    --control-text-color: #777;
}

html {
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
}

#write {
    max-width: 860px;
  	margin: 0 auto;
  	padding: 30px;
    padding-bottom: 100px;
}

a:hover {
    opacity: 0.75
}

body,h1,h2,h3,h4,h5,h6,p,blockquote,pre,hr,dl,dd,ol,ul,figure {
    margin: 0;
    padding: 0
}

h1,h2,h3,h4,h5,h6 {
    margin-bottom: .5rem;
    font-weight: bold;
    line-height: 1.25;
    text-rendering: optimizeLegibility
}

h1 {
    font-size: 2rem
}

h2 {
    margin-top: 1rem;
    font-size: 1.5rem
}

h3 {
    margin-top: 1rem;
    font-size: 1.5rem
}

h4 {
    margin-top: 1.5rem;
    font-size: 1.25rem
}

h5, h6 {
    margin-top: 1rem;
    font-size: 1rem
}

body {
    font-family: "Noto Serif","Noto Serif SC","Helvetica","Arial",sans-serif
}

body img {
    box-align: middle;
    margin: 5px auto auto auto;
    display: block;
    max-width: 600px
}

p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    line-height: 1.65;
    font-family: "Noto Serif","Noto Serif SC","Helvetica","Arial",sans-serif
}

ul,ol,dl {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
    font-family: "Noto Serif","Noto Serif SC","Helvetica","Arial",sans-serif
}

ol li {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1.5rem
}

li {
    margin-bottom: 1rem
}

dt {
    font-weight: bold
}

dd {
    margin-bottom: .5rem
}

a {
    color: #3366BB;
    text-decoration: none
}

blockquote {
    margin: 10px 20px 10px;
    padding: 0px 15px;
    border-left: 0.25em solid #ccc;
    color: #999;
    line-height: 1.5
}

table {
    border-collapse: collapse;
    margin-bottom: 30px;
    width: 100%
}

table,th,td {
    border: 1px solid black
}

th,td {
    padding: 15px;
    text-align: left
}

.code-tooltip {
    box-shadow: 0 1px 1px 0 rgba(0,28,36,.3);
    border-top: 1px solid #eef2f2;
}

.md-fences,
code,
tt {
    font-family: "Source Code Pro","Consolas",monospace;
    border: 1px solid #e7eaed;
    background-color: #f8f8f8;
    border-radius: 3px;
    padding: 0;
    padding: 2px 4px 0px 4px;
    font-size: 0.9em;
}

code {
    background-color: #f3f4f4;
    padding: 0 2px 0 2px;
}

.md-fences {
    margin-bottom: 15px;
    margin-top: 15px;
    padding-top: 8px;
    padding-bottom: 6px;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}
